@font-face {
    font-family: "logo-fonts";
    src: url("/fonts/Shalimar-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "title-fonts";
    src: url("/fonts/RockSalt-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "main-fonts";
    src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "error-fonts";
    src: url("/fonts/RubikVinyl-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
