@media screen and (min-width: 1025px) {
    .home__posts-division {
        width: 45%;
    }
}
@media screen and (max-width: 1024px) {
    .home__posts-division {
        width: 100%;
    }
}
@media screen and (min-width: 768px) {
    .home {
        padding: 20px 50px !important;
    }
}
.home {
    padding: 15px;
    position: relative;
    &__main {
        width: 100%;
        @include flexColumnCenterX;
    }
    &__posts-division {
        gap: 15px;
        @include flexColumnCenterX;
    }
}
