@media screen and (min-width: 1025px) {
    .signup-steps {
        height: 100vh;
        &__background-img {
            height: calc(100vh + 20px);
        }
        &__content {
            height: 70vh !important;
            top: 25vh !important;
            @include flexSpacedAndAlign;
            flex-direction: row !important;
            &__steps-indicator {
                width: 20%;
                min-width: 320px;
                gap: 50px;
            }
            &__form-container {
                width: calc(80% - 150px);
                max-width: 1120px;
            }
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .signup-steps {
        &__background-img {
            height: calc(100vh + 20px);
            min-height: 1450px !important;
        }
        &__content {
            top: 20vh;
            &__steps-indicator {
                @include flexSpacedAndAlign;
                flex-direction: row !important;
                gap: 5px;
            }
            &__step {
                height: 42px;
                padding: 5px;
                width: 30%;
            }
            &__form-container {
                width: 100%;
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .signup-steps {
        &__background-img {
            height: 1431px;
        }
        &__content {
            &__steps-indicator {
                gap: 10px;
            }
        }
    }
}
.signup-steps {
    position: relative;
    &__background-img {
        width: 100%;
        min-height: 100vh;
    }
    &__content {
        position: absolute;
        top: 180px;
        padding: 40px;
        width: calc(100% - 80px);
        background-color: $white-op7;
        transform: translateY(-50%);
        gap: 20px;
        @include flexColumn;
        &__steps-indicator {
            @include flexColumn;
        }
        &__step {
            position: relative;
            border: 2px solid $primary-color;
            border-radius: 3px;
            padding: 15px 25px;
            display: flex;
            gap: 15px;
            &__icons-container {
                position: absolute;
                svg {
                    position: absolute;
                    font-size: 34px;
                    transform: translate(-18%, -18%);
                    transition: 0.4s;
                    z-index: 2;
                }
            }
            &__check-icon {
                opacity: 0;
                color: $primary-color;
            }
            &__times-icon {
                color: $tertiary-color;
                opacity: 0;
            }
            &-dot {
                position: absolute;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 1px solid $primary-color;
            }
            p {
                color: $primary-color;
                margin-left: 30px;
            }
        }
        &__form-container {
            position: relative;
            height: 100%;
            border-radius: 15px;
            border: 3px solid $primary-color;
            @include flexFullCenter;
        }
    }
}
