@media screen and (min-width: 1025px) {
    .signup-steps {
        height: 100vh;
        &__background-img {
            height: calc(100vh + 20px);
        }
        &__content {
            height: 70vh !important;
            top: 25vh !important;
            @include flexSpacedAndAlign;
            flex-direction: row !important;
            &__form-container {
                width: calc(80% - 150px);
                max-width: 1120px;
            }
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .signup-steps {
        &__background-img {
            height: calc(100vh + 20px);
            min-height: 1450px !important;
        }
        &__content {
            top: 20vh;
            &__form-container {
                width: 100%;
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .signup-steps__background-img {
        height: 1431px;
    }
}
.signup-steps {
    position: relative;
    &__background-img {
        width: 100%;
        min-height: 100vh;
    }
    &__content {
        position: absolute;
        top: 180px;
        padding: 40px;
        width: calc(100% - 80px);
        background-color: $white-op7;
        transform: translateY(-50%);
        gap: 20px;
        @include flexColumn;
        &__form-container {
            position: relative;
            height: 100%;
            border-radius: 15px;
            border: 3px solid $primary-color;
            @include flexFullCenter;
        }
    }
}
