@media screen and (min-width: 1025px) {
    .child-modal {
        padding: 2vh 2.5vw;
        width: 55vw;
        height: 85vh;
        gap: 10px;
        justify-content: space-around;
    }
}
@media screen and (max-width: 1024px) {
    .child-modal {
        width: calc(95vw - 50px);
        height: calc(95vh - 50px);
        padding: 25px;
        overflow: auto;
        &::-webkit-scrollbar {
            width: 16px;
            background-color: transparent;
        }
        &:not([no-y-overflow])::-webkit-scrollbar-thumb {
            height: 56px;
            border-radius: 8px;
            border: 4px solid transparent;
            background-clip: content-box;
            background-color: $black-op7;
        }
        &::-webkit-scrollbar-thumb {
            height: 56px;
            border-radius: 8px;
            border: 4px solid transparent;
            background-clip: content-box;
            background-color: hsl(0, 0%, 67%);
            &:hover {
                background-color: lighten(hsl(0, 0%, 67%), 5);
            }
        }
    }

    @media screen and (min-width: 768px) {
        .child-modal {
            gap: 20px;
        }
    }
}
@media screen and (min-width: 768px) {
    .child-modal button {
        width: calc(85% - 4px);
    }
}
@media screen and (max-width: 767px) {
    .child-modal {
        overflow-y: scroll;
        justify-content: flex-start;
        gap: 25px;
        &::-webkit-scrollbar {
            width: 16px;
            background-color: transparent;
        }
        &:not([no-y-overflow])::-webkit-scrollbar-thumb {
            height: 56px;
            border-radius: 8px;
            border: 4px solid transparent;
            background-clip: content-box;
            background-color: $black-op7;
        }
        &::-webkit-scrollbar-thumb {
            height: 56px;
            border-radius: 8px;
            border: 4px solid transparent;
            background-clip: content-box;
            background-color: hsl(0, 0%, 67%);
            &:hover {
                background-color: lighten(hsl(0, 0%, 67%), 5);
            }
        }
        p {
            text-align: center;
        }
        button {
            width: calc(90% - 4px);
        }
    }
}
.child-modal {
    z-index: 2600;
    position: absolute;
    border: none;
    border-radius: 10px;
    background-color: $clr-1;
    backdrop-filter: blur(10px);
    @include flexColumnCenterX;
    &__header {
        width: 100%;
        color: $primary-color;
        @include flexBetween;
        svg {
            font-size: 30px;
            cursor: pointer;
            @include standardTransi;
            &:hover {
                color: $black-op5;
            }
        }
    }
    h4,
    p,
    button {
        text-transform: uppercase;
        color: $primary-color;
    }
    button {
        padding: 8px 0;
        height: 60px;
        border-radius: 4px;
        border: 2px solid $primary-color;
    }
    &__same-row {
        width: 85%;
        @include flexBetween;
    }
}
