@media screen and (min-width: 768px) {
    .child-modal__header svg {
        font-size: 30px;
    }
}
@media screen and (max-width: 767px) {
    .child-modal {
        &__header {
            h4 {
                font-size: 0.9em;
            }
            svg {
                font-size: 20px;
            }
        }
        p {
            text-align: center;
        }
    }
}
.child-modal {
    &__header {
        width: 100%;
        color: $primary-color;
        @include flexBetween;
        svg {
            cursor: pointer;
            @include standardTransi;
            &:hover {
                color: $black-op5;
            }
        }
    }
    &__same-row {
        width: 85%;
        @include flexBetween;
    }
}
