@media screen and (min-width: 1025px) {
    .personal-data-form {
        padding: 30px 0;
        height: calc(100% - 60px);
        &__fields-displayer {
            flex-direction: row !important;
            justify-content: space-between !important;
        }
        &__left-column {
            width: 30%;
            top: -10px;
            height: calc(100% - 23px);
        }
        &__inputs-container {
            width: 50%;
            height: 100%;
        }
    }
}
@media screen and (max-width: 1024px) {
    .personal-data-form {
        &__left-column {
            width: calc(100% - 50px);
        }
        &__inputs-container {
            margin-bottom: 15px;
            width: calc(100% - 50px);
        }
    }
}
@media screen and (max-width: 767px) {
    .personal-data-form h1 {
        text-align: center;
    }
}

#signup-file {
    display: none;
}
.personal-data-form {
    position: relative;
    padding: 15px 0;
    width: 100%;
    height: calc(100% - 30px);
    background-color: $white-op6;
    border-radius: 15px;
    gap: 10px;
    @include flexAroundColumnCenter;
    h1 {
        text-transform: uppercase;
        font-size: 20px;
    }
    &__fields-displayer {
        width: 90%;
        height: 65%;
        gap: 15px;
        @include flexColumnCenter;
    }
    &__left-column {
        position: relative;
    }
    &__picture-area {
        padding: 10px;
        background-color: $black-op4;
        border-radius: 4px;
        width: calc(100% - 20px);
        height: calc(100% - 71px);
        margin-bottom: 15px;
        gap: 25px;
        @include flexColumnCenter;
        button {
            border: 1px solid $white-op7;
            color: $white-op7;
            label {
                cursor: pointer;
            }
        }
    }
    &__picture-container {
        width: 200px;
        @include flexFullCenter;
    }
    &__profile-picture {
        height: 150px;
        width: 150px;
        @include translateToCenter;
    }
    &__profile-picture-container {
        height: 120px;
        width: 120px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
    }
    &__icon-background {
        height: 120px;
        width: 120px;
        background-color: $secondary-color;
        border-radius: 50%;
        @include flexFullCenter;
        svg {
            font-size: 70px;
            color: $primary-color;
        }
    }
    &__inputs-container {
        gap: 10px;
        @include flexColumnBetween;
    }
    &__input {
        width: 100%;
    }
    &__first-name-division {
        width: 100%;
        position: relative;
    }
    &__last-name-division {
        width: 100%;
        position: relative;
    }
    &__age-division {
        position: relative;
    }
    &__gender-division {
        position: relative;
    }
    &__country-division {
        position: relative;
    }
    .css-1869usk-MuiFormControl-root {
        width: 100%;
        margin: 0;
    }
    .css-2m9kme-MuiFormControl-root {
        width: 100% !important;
        margin: 0;
    }
    .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
        text-transform: uppercase;
        font-size: 14px;
        margin-left: 15px;
        color: $black-op8;
        font-family: "main-fonts";
    }
    .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
        padding: 16.5px 10px !important;
    }
    .css-1s2u09g-control {
        background-color: transparent;
        border: 1px solid $black-op2;
    }
    .css-tlfecz-indicatorContainer svg {
        color: $black-op5;
    }
    .css-1okebmr-indicatorSeparator {
        display: none;
    }
    .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
        width: 100%;
    }
    > button {
        color: $black-op5;
        border: 1px solid $black-op2;
        width: 50%;
        position: relative;
        top: -10px;
    }
    button:hover {
        border-color: $tertiary-color;
        color: $tertiary-color;
    }
}
.signup-perso-icon {
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translate(-50%, -50%);
    transition: 0.3s ease-in-out;
}
.js-handled {
    opacity: 0;
}
