@media screen and (min-width: 1025px) {
    .extra-data-form__text-area {
        max-height: calc(100% - 187px);
    }
}
@media screen and (max-width: 1024px) {
    .extra-data-form__text-area {
        height: 200px;
    }
}
@media screen and (min-width: 768px) {
    .extra-data-form__description-division__icons-container {
        left: -30px;
        width: 30px;
    }
}
@media screen and (max-width: 767px) {
    .extra-data-form__description-division__icons-container {
        left: -15px;
        width: 15px;
        svg {
            font-size: 10px !important;
            left: 0px;
        }
    }
}
.extra-data-form {
    &__description-division {
        width: 100%;
        position: relative;
        display: flex;
        &__icons-container {
            position: absolute;
            height: 100%;
        }
    }
    &__text-area {
        min-height: 100%;
        > textarea {
            vertical-align: text-top;
        }
    }
}
#extra-description-msg {
    position: relative;
    top: 62px;
}
