@media screen and (min-width: 1025px) {
    .profile-section__navigation {
        padding: 0 100px;
        @include flexEndCenterY;
        &__buttons-container {
            position: relative;
            width: 100%;
            display: flex;
            gap: 1px;
        }
        div button {
            width: calc((100vw - 216px) / 5);
            font-size: 16px;
            padding: 12px 0px;
            transition: 0.3s ease-in-out;
            &:hover {
                background-color: $primary-color-05;
                &::after {
                    transform: scaleX(1);
                }
            }
        }
        &-bar {
            width: calc((100vw - 216px) / 5);
            left: 99px;
            top: 32px;
        }
    }
}
@media screen and (max-width: 1024px) {
    .profile-section__navigation {
        width: 100%;
        @include flexBetweenCentered;
        flex-wrap: wrap;
        div button {
            width: calc((100vw - 16px) / 5);
            font-size: 14px;
            padding: 6px 0px;
        }
        &-bar {
            width: calc((100vw - 16px) / 5);
            left: 0px;
            top: 29px;
        }
    }
}
.profile-section__navigation {
    margin-bottom: 30px;
    position: relative;
    &__buttons-container > button:not(:last-of-type) {
        border-color: $primary-color !important;
    }
    div button {
        position: relative;
        border: none;
        color: $primary-color;
        text-transform: uppercase;
        &:first-child::after {
            transform-origin: right;
        }
        &:nth-child(2)::after {
            left: 2px;
            transform-origin: center;
        }
        &:last-child::after {
            transform-origin: left;
        }
        &:hover {
            border: none;
            transform: none;
        }
        &::after {
            content: "";
            width: calc(100% - 5px);
            height: 2px;
            background-color: $primary-color;
            position: absolute;
            bottom: 5px;
            left: 2.5px;
            transition: 0.3s ease-in-out;
            transform: scaleX(0);
        }
        &:not(:last-of-type)::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 1px;
            background-color: $primary-color;
        }
    }
    &-bar {
        height: 5px;
        background-color: $primary-color;
        position: absolute;
        transition: 0.2s ease-in-out;
    }
}
