@media screen and (min-width: 1025px) {
    .profile-section__header-background {
        width: 90%;
        img {
            transform: translateY(-30%);
        }
        &__buttons-area {
            width: 80px;
            form {
                span {
                    &:first-of-type.active {
                        transform: translateY(110px);
                    }
                    &:last-child.active {
                        transform: translateY(180px);
                    }
                }
                label {
                    width: 80px;
                    height: 80px;
                    opacity: 0.3;
                    &:hover {
                        opacity: 1;
                    }
                    svg {
                        font-size: 30px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1024px) {
    .profile-section__header-background {
        width: 100%;
        img {
            height: 100%;
        }
    }
    @media screen and (min-width: 768px) {
        .profile-section__header-background {
            &__buttons-area {
                width: 65px;
                form {
                    span {
                        &:first-of-type.active {
                            transform: translateY(90px);
                        }
                        &:last-child.active {
                            transform: translateY(150px);
                        }
                    }
                    label {
                        height: 65px;
                        width: 65px;
                        svg {
                            font-size: 25px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .profile-section__header-background {
        &__buttons-area {
            width: 50px;
            form {
                span {
                    &:first-of-type.active {
                        transform: translateY(70px);
                    }
                    &:last-child.active {
                        transform: translateY(130px);
                    }
                }
                label {
                    height: 50px;
                    width: 50px;
                    svg {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
.profile-section__header-background {
    position: relative;
    height: calc(50vh + 96px);
    overflow: hidden;
    @include flexCenterX;
    img {
        position: absolute;
        width: 100%;
    }
    &__buttons-area {
        position: absolute;
        right: 0px;
        top: 0px;
        height: calc(100% - 136px);
        padding: 20px;
        padding-top: 116px;
        form {
            @include flexColumn;
            align-items: center;
            span {
                cursor: pointer;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                @include flexFullCenter;
                background-color: $primary-color;
                position: absolute;
                opacity: 0;
                transform: translateY(0);
                transition: 0.3s ease-in-out;
                &:first-of-type.active {
                    opacity: 1;
                }
                &:last-child.active {
                    opacity: 1;
                }
                svg {
                    color: $clr-1;
                }
            }
            label {
                cursor: pointer;
                z-index: 2;
                border-radius: 80px 10px 80px 80px;
                border: 2px solid $tertiary-color;
                background-color: $tertiary-color;
                @include flexFullCenter;
                svg {
                    z-index: 1;
                    color: $clr-1;
                    @include standardTransi;
                }
            }
        }
    }
}
