@media screen and (min-width: 1025px) {
    .start-form {
        min-width: 40%;
        height: 65%;
        form {
            gap: 15px;
            h2 {
                font-size: clamp(22px, 3vh, 2rem);
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .start-form form h2 {
        left: 26px;
    }
}
@media screen and (max-width: 767px) {
    .start-form form {
        height: 400px;
    }
}

.start-form {
    padding: 20px;
    width: 90%;
    overflow: hidden;
    form {
        height: 100%;
        position: relative;
        gap: 30px;
        @include flexColumnAround;
        > div {
            position: relative;
            transform: translateX(200%);
            animation: startFormAnim 0.3s ease-out forwards;
        }
        @for $i from 2 to 4 {
            $delay: $i * 0.1s;
            > div:nth-child(#{$i}) {
                animation-delay: $delay;
            }
        }
        h2 {
            position: relative;
            transform: translateX(200%);
            animation: startFormAnim 0.3s 0.1s ease-out forwards;
            text-transform: uppercase;
            color: darken($primary-color, 15);
        }
        .mui-input-text {
            height: 50px;
        }
        button {
            position: relative;
            margin-top: 5px;
            transform: translateX(240%);
            animation: startFormAnim 0.3s 0.5s ease-in-out forwards;
            height: 50px;
            width: 50%;
            left: 29%;
            background-color: transparent;
            text-transform: uppercase;
        }
    }
}
