@media screen and (min-width: 1025px) {
    .trip-modal {
        padding: 5vh 5vw;
        height: 70vh;
        width: 70vw;
    }
}
@media screen and (max-width: 1024px) {
    .trip-modal {
        width: calc(90vw - 50px);
        height: calc(90vh - 50px);
        padding: 25px;
    }
}
@media screen and (max-width: 767px) {
    .trip-modal {
        justify-content: start;
        gap: 25px;
        overflow: auto;
        > button {
            min-height: 46px;
        }
    }
}
.trip-modal {
    align-items: center;
    gap: 25px;
    border-radius: 4px;
    background-color: rgb(250, 248, 255);
    box-shadow: 0px 5px 10px 1px $black-op2;
}
