@media screen and (min-width: 1025px) {
    .trip-modal {
        padding: 5vh 5vw;
        height: 70vh;
        width: 70vw;
        &__content {
            height: calc(100% - 95px) !important;
            display: flex;
            flex-direction: row !important;
            align-items: center;
            justify-content: space-around !important;
        }
        &__inputs-area {
            width: 43% !important;
            height: 100% !important;
        }
        &__description-area {
            width: 43% !important;
            height: 100% !important;
            .mui-textarea {
                min-height: calc(100% - 36px);
                &.shrink {
                    min-height: unset;
                    height: calc(100% - 154px);
                }
                label {
                    top: 8%;
                }
            }
        }
    }
}
@media screen and (max-width: 1024px) {
    .trip-modal__description-area > div {
        position: relative;
        width: 100%;
        margin-left: 8px;
    }

    @media screen and (min-width: 768px) {
        .trip-modal {
            &__inputs-area {
                height: 70%;
            }
            &__description-area > div {
                height: 250px;
            }
            &__buttons-row button {
                width: 45% !important;
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .trip-modal {
        justify-content: start;
        gap: 25px;
        overflow: auto;
    }
}
.trip-modal {
    align-items: center;
    gap: 25px;
    border-radius: 4px;
    background-color: rgb(250, 248, 255);
    box-shadow: 0px 5px 10px 1px $black-op2;
    section {
        height: 100%;
        width: 100%;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 5vh 5vw;
        width: calc(100% - 10vw);
        height: calc(100% - 10vh);
    }
    &__header {
        width: 100%;
        @include flexBetween;
        h3 {
            text-transform: uppercase;
            letter-spacing: 1px;
            text-align: center;
            width: 100%;
        }
        svg {
            cursor: pointer;
            font-size: 25px;
            color: $black-op5;
            @include standardTransi;
            &:hover {
                color: $tertiary-color;
            }
        }
    }
    &__content {
        height: 100%;
        width: 100%;
        color: $clr-2;
        @include flexColumnCenter;
        label {
            color: $clr-2;
        }
    }
    &__inputs-area {
        width: 100%;
        @include flexColumnBetween;
        div {
            width: 100%;
        }
    }
    &__description-area {
        width: 100%;
        @include flexColumnBetween;
        > div {
            height: calc(100% - 50px);
            margin-top: 15px;
            > div {
                height: 100%;
                > textarea {
                    height: 100%;
                }
            }
        }
    }
    &__buttons-row {
        width: 80%;
        height: 70px;
        @include flexFullCenter;
        button {
            width: 100%;
            border: 2px solid $primary-color;
            border-radius: 8px;
            color: $primary-color;
            font-weight: 600;
            letter-spacing: 2px;
            height: calc(100% - 4px);
            &:hover {
                background-color: $primary-color;
                color: $secondary-color;
            }
        }
    }
    &__album-container {
        height: unset !important;
    }
    &-album {
        margin: 5px 0;
        height: unset !important;
        padding: 5px 25px;
        background-color: $black-op1;
        border: 2px solid $black-op5;
        border-radius: 10px;
        position: relative;
        &__pictures-container {
            width: 100%;
            overflow-x: auto;
            margin-left: 15px;
            height: unset !important;
            gap: 8px;
            @include flexStart;
        }
        img {
            height: 60px;
            width: 50px;
        }
        h4 {
            color: $black-op8;
            margin-left: 20px;
            position: relative;
            &::before {
                content: "\2708";
                position: absolute;
                top: 50%;
                left: -20px;
                transform: translateY(-50%);
                color: $black-op8;
            }
        }
    }
}
