@media screen and (min-width: 1025px) {
    .profile-contact-section {
        width: 80%;
        min-height: calc(50vh - 275px);
        @include flexAroundCentered;
        ul {
            padding: 10px 80px;
        }
    }
}
@media screen and (max-width: 1024px) {
    .profile-contact-section {
        width: 90%;
        @include flexColumn;
        gap: 25px;
    }
}
@media screen and (max-width: 767px) {
    .profile-contact-section ul {
        padding: 15px;
    }
}
.profile-contact-section {
    position: relative;
    padding: 35px 0;
    gap: 40px;
    > div {
        background-color: $clr-1;
        padding: 30px;
        width: calc(100% - 70px);
        height: calc(100% - 70px);
        border-radius: 10px;
        border: 2px solid $black-op2;
        gap: 10px;
        @include flexColumn;
    }
    &__border-wrapper {
        cursor: pointer;
        position: relative;
        width: 90%;
        height: 40px;
        overflow: hidden;
        border-radius: 13px;
        @include standardTransi;
        &:hover {
            transform: scaleX(1.1) scaleY(0.9);
            .profile-contact-section__border-line {
                animation: rotation 6.5s infinite linear;
            }
        }
    }
    &__border-line {
        position: absolute;
        left: -50%;
        top: -250px;
        height: 600px;
        width: 200%;
        background-image: conic-gradient(
            $primary-color,
            $primary-color-4,
            $clr-1
        );
    }
    p {
        text-align: center;
        margin-top: 45px;
    }
    ul {
        gap: 10px;
        @include flexColumn;
        li {
            padding: 15px;
            border-radius: 6px;
            cursor: pointer;
            span {
                cursor: pointer;
                text-align: center;
                position: absolute;
                width: calc(100% - 6px);
                height: calc(100% - 24px);
                top: 3px;
                left: 3px;
                color: $primary-color;
                background-color: $clr-1;
                font-size: 22px;
                padding-top: 18px;
            }
        }
    }
}
