@keyframes logoAnim {
    0% {
        transform: translateX(-100%);
    }
    60% {
        transform: translateX(0%);
        padding-left: 25px;
    }
    80% {
        transform: translateX(-5%);
    }
    100% {
        transform: translateX(0%);
        padding-left: 15px;
    }
}
@keyframes navAnim {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes navRodAnim {
    0%,
    10% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}
@keyframes headerAnim {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes startFormAnim {
    0% {
        transform: translateX(200%);
    }
    90% {
        transform: translateX(-10px);
    }
    95% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes liAnim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes liBeforeAnim {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0turn);
    }
    100% {
        transform: rotate(1turn);
    }
}
@keyframes scaleAndAppear {
    0% {
        opacity: 0;
        transform: translate(calc(-100% + 35.5px), 60px) scale(0);
    }
    100% {
        opacity: 1;
        transform: translate(calc(-100% + 35.5px), 60px) scale(1);
    }
}
@keyframes infiniteScale {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(0);
    }
    100% {
        transform: translate(-50%, -50%) scale(10);
        opacity: 0;
    }
}
