// Neutral Colors
$clr-1: white;
$clr-2: black;
$clr-3: #003947;
$clr-4: #a1abab;

//Graphic colors
$primary-color: rgb(39, 158, 151);
$secondary-color: rgb(246, 248, 234);
$tertiary-color: rgb(20, 80, 77);

//Graphic colors shades
$primary-color-05: rgba(39, 158, 151, 0.05);
$primary-color-1: rgba(39, 158, 151, 0.1);
$primary-color-2: rgba(39, 158, 151, 0.2);
$primary-color-3: rgba(39, 158, 151, 0.3);
$primary-color-4: rgba(39, 158, 151, 0.4);
$primary-color-5: rgba(39, 158, 151, 0.5);
$primary-color-6: rgba(39, 158, 151, 0.6);
$primary-color-7: rgba(39, 158, 151, 0.7);
$primary-color-8: rgba(39, 158, 151, 0.8);

$secondary-color-2: rgba(246, 248, 234, 0.2);
$secondary-color-3: rgba(246, 248, 234, 0.3);
$secondary-color-4: rgba(246, 248, 234, 0.4);
$secondary-color-5: rgba(246, 248, 234, 0.5);
$secondary-color-6: rgba(246, 248, 234, 0.6);
$secondary-color-7: rgba(246, 248, 234, 0.7);
$secondary-color-8: rgba(246, 248, 234, 0.8);
$secondary-color-9: rgba(246, 248, 234, 0.9);

$tertiary-color-1: rgba(20, 80, 77, 0.1);
$tertiary-color-2: rgba(20, 80, 77, 0.2);
$tertiary-color-3: rgba(20, 80, 77, 0.3);
$tertiary-color-4: rgba(20, 80, 77, 0.4);
$tertiary-color-5: rgba(20, 80, 77, 0.5);
$tertiary-color-6: rgba(20, 80, 77, 0.6);
$tertiary-color-7: rgba(20, 80, 77, 0.7);
$tertiary-color-8: rgba(20, 80, 77, 0.8);

//Opacity shades
$white-op1: rgba(255, 255, 255, 0.1);
$white-op2: rgba(255, 255, 255, 0.2);
$white-op3: rgba(255, 255, 255, 0.3);
$white-op4: rgba(255, 255, 255, 0.4);
$white-op5: rgba(255, 255, 255, 0.5);
$white-op6: rgba(255, 255, 255, 0.6);
$white-op7: rgba(255, 255, 255, 0.7);
$white-op8: rgba(255, 255, 255, 0.8);
$white-op9: rgba(255, 255, 255, 0.9);

$black-op1: rgba(0, 0, 0, 0.1);
$black-op2: rgba(0, 0, 0, 0.2);
$black-op3: rgba(0, 0, 0, 0.3);
$black-op4: rgba(0, 0, 0, 0.4);
$black-op5: rgba(0, 0, 0, 0.5);
$black-op6: rgba(0, 0, 0, 0.6);
$black-op7: rgba(0, 0, 0, 0.7);
$black-op8: rgba(0, 0, 0, 0.8);
$black-op9: rgba(0, 0, 0, 0.9);
