.mui-input-text {
    position: relative;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    border: 2px solid $primary-color-8;
    color: $primary-color-8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    &:hover {
        border: 1px solid darken($primary-color, 15) !important;
        color: darken($primary-color, 15);
    }
    &:focus {
        border-color: $primary-color-8;
    }
    input {
        font-size: 1.2em;
        padding-left: 8%;
        width: 100%;
        height: 100%;
        border: none;
        background-color: transparent;
        &:focus-visible {
            + label {
                transform: translateX(-300px);
                opacity: 0;
            }
        }
    }
    label {
        pointer-events: none;
        transition: 0.2s ease-in-out;
        position: absolute;
        left: 8%;
        text-transform: capitalize;
        &.filled {
            transform: translateX(-300px);
            opacity: 0;
        }
    }
    &.signup {
        height: 56px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 4px;
        background-color: transparent;
        color: $black-op6;
        font-weight: normal;
        input,
        label {
            font-size: 14px;
        }
        label {
            font-size: 100;
            text-transform: uppercase;
        }
    }
}
