@media screen and (min-width: 1025px) {
    .gradient:hover {
        transform: scaleX(1.1) translateY(-4px);
        a {
            color: $tertiary-color;
        }
    }
}

.gradient {
    cursor: pointer;
    height: 65px;
    position: relative;
    width: object-fit;
    background: linear-gradient(90deg, $clr-1 0%, $clr-1 100%),
        linear-gradient(
            var(--gradient-rotation),
            darken($tertiary-color, 5%) 0%,
            lighten($primary-color, 5%) 100%
        );
    border-radius: 5px;
    border: 6px solid transparent;
    background-clip: padding-box, border-box;
    background-origin: border-box;
    @include flexFullCenter;
    @include standardTransi;
    a {
        color: $primary-color;
        text-align: center;
        padding: 21.5px 0;
        font-size: 22px;
        text-transform: uppercase;
        font-weight: 600;
        position: relative;
    }
}
