@media screen and (min-width: 1025px) {
    .carousel {
        &-slider {
            height: calc(95vh - 377px);
            width: 80% !important;
            overflow: visible !important;
        }
    }
    .thumbs {
        width: calc((70vw - 64px) * 0.8) !important;
    }
}
@media screen and (max-width: 1024px) {
    .thumbs {
        width: calc(90vw - 64px) !important;
    }
    @media screen and (min-width: 768px) {
        .carousel {
            &-root {
                height: calc(95vh - 128px);
                width: 100%;
            }
            &-slider {
                height: calc(95vh - 223px);
                width: 100%;
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .thumbs {
        li {
            cursor: pointer;
            width: 110px !important;
            height: 110px;
            border-radius: 50%;
            position: relative;
            overflow: hidden;
            img {
                position: absolute;
                transform: translate(-15px, -15px);
                height: 130px;
                width: 130px;
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .carousel {
        &-root {
            height: calc(95vh - 148px);
            width: calc(95vw - 35px);
        }
        &-slider {
            height: calc(95vh - 247px);
        }
    }
    .thumbs li img {
        height: 80px;
        width: 70px;
    }
}
.carousel {
    &-root {
        position: relative;
        @include flexColumnCenterX;
    }
    &-slider {
        position: relative;
    }
    &__picture-container {
        height: 100%;
        img {
            height: 100%;
        }
    }
}
.slider-wrapper {
    height: 100%;
    ul {
        height: 100%;
    }
}
.thumbs {
    display: flex;
    > li {
        border-radius: 50%;
        position: relative;
        display: flex !important;
        justify-content: center;
        align-items: center;
        height: 70px;
        width: 70px;
        img {
            position: absolute;
            height: 100px;
            width: 100px;
        }
    }
    &-wrapper {
        width: 100%;
        margin: 0 !important;
        margin-top: 15px !important;
        @include flexCenterX;
    }
}
.control-arrow {
    width: calc((70vw * 0.1) + 32px);
    transform: translateX(-100%);
}
.control-arrow.control-next {
    transform: translateX(100%);
}
.carousel .thumb.selected,
.carousel .thumb:hover {
    border-color: $primary-color !important;
}
