.extra-form__accordion {
    display: flex;
    flex-direction: column;
    &__element {
        display: flex;
        flex-direction: column;
        &-container {
            box-shadow: 0px 1px 3px 0px $black-op2;
            display: grid;
            grid-template-rows: 37px 0fr 0fr;
            transition: grid-template-rows 0.2s ease-in-out;
            background-color: $clr-1;
            padding: 15px;
            * {
                pointer-events: none;
            }
            &.open {
                grid-template-rows: 37px 1fr 1fr;
                .extra-form__accordion__element-header svg {
                    transform: rotate(180deg);
                }
            }
        }
        &-header {
            padding: 8px;
            display: flex;
            justify-content: space-between;
            // margin-bottom: 5px;
            svg {
                transform-origin: center;
                transition: 0.2s ease-in-out;
            }
        }
        &-content {
            overflow: hidden;
            display: flex;
            flex-direction: column;
            gap: 10px;
            > span:last-of-type {
                margin-bottom: 15px;
            }
        }
        &-album {
            overflow: hidden;
            display: flex;
            gap: 10px;
            img {
                border-radius: 4px;
                width: 70px;
                height: 70px;
            }
        }
    }
}
