@media screen and (min-width: 1025px) {
    .profile-albums-section__album-container {
        position: relative;
        width: calc(50% - 39px);
        padding: 10px 12px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        background: rgb(255, 255, 255);
        background: linear-gradient(
            180deg,
            rgba(10, 10, 10, 0) 0%,
            rgba(10, 10, 10, 0.05) 20%,
            rgba(10, 10, 10, 0.09) 80%,
            rgba(10, 10, 10, 0.12) 92%,
            rgba(10, 10, 10, 0.2) 100%
        );
        border-radius: 25px 25px 0px 0px;
        &:hover {
            img {
                filter: blur(1px);
            }
            > div > .more-picture__div {
                transform: translateY(0%);
            }
        }
        h3 {
            text-align: center;
            width: 230px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}
@media screen and (max-width: 1024px) {
    .profile-albums-section__album-container {
        padding: 15px;
        width: calc(100% - 32px);
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        background: rgb(255, 255, 255);
        background: linear-gradient(
            180deg,
            rgba(10, 10, 10, 0) 0%,
            rgba(10, 10, 10, 0.05) 30%,
            rgba(10, 10, 10, 0.1) 100%
        );
        border-radius: 25px 25px 0px 0px;
    }

    @media screen and (min-width: 768px) {
        .profile-albums-section__album-container {
            width: calc(50% - 37.5px);
        }
    }
}
.profile-albums-section__album-container {
    gap: 10px;
    h3 {
        text-transform: capitalize;
    }
}
