@media screen and (min-width: 768px) {
    .logo-container span {
        font-size: 25px;
    }
}
@media screen and (max-width: 767px) {
    .logo-container span {
        font-size: 20px;
    }
}

.logo-container {
    cursor: pointer;
    position: relative;
    left: -20px;
    background-color: $clr-1;
    padding: 0px 40px 0px 15px;
    border-radius: 0 5px 5px 0;
    transform: translateX(-100%);
    animation: logoAnim 1s 0.4s ease-in-out forwards;
    @include flexCenterY;
    svg {
        font-size: 40px;
        color: $tertiary-color;
    }
    span {
        font-weight: 600;
        font-family: "title-fonts";
        color: darken($primary-color, 19);
        cursor: pointer;
    }
}
