@media screen and (min-width: 1025px) {
    .logo-container span {
        font-size: 40px;
    }
}
@media screen and (min-width: 768px) {
    .logo-container {
        padding: 0px 40px 0px 15px;
        svg {
            font-size: 40px;
        }
    }
    @media screen and (max-width: 1024px) {
        .logo-container {
            span {
                font-size: 25px;
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .logo-container {
        height: 56px;
        padding: 0px 15px 0px 15px;
        svg {
            font-size: 30px;
        }
        span {
            font-size: 0.9em;
        }
    }
}

.logo-container {
    cursor: pointer;
    position: relative;
    left: -20px;
    background-color: $clr-1;
    border-radius: 0 5px 5px 0;
    transform: translateX(-100%);
    animation: logoAnim 1s 0.4s ease-in-out forwards;
    @include flexCenterY;
    svg {
        color: $tertiary-color;
    }
    span {
        font-weight: 600;
        font-family: "title-fonts";
        color: darken($primary-color, 19);
        cursor: pointer;
    }
}
