@media screen and (min-width: 1025px) {
    .add-album-modal {
        padding: 30px 45px;
        width: calc(60vw - 90px);
        height: calc(85vh - 60px);
        @include flexAroundColumnCenter;
    }
}
@media screen and (max-width: 1024px) {
    .add-album-modal {
        padding: 25px;
        width: calc(95vw - 50px);
        height: calc(95vh - 50px);
        overflow-y: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 25px;
        > button {
            min-height: 56px;
        }
    }
}
.add-album-modal {
    z-index: 2600;
    border: none;
    border-radius: 10px;
    background-color: $clr-1;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    form {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    button {
        padding: 10px 0;
        border-radius: 4px;
        width: 80%;
        text-transform: uppercase;
        font-size: 26px;
        font-weight: 600;
        color: $tertiary-color;
        letter-spacing: 2px;
        > div > span {
            cursor: pointer;
            height: 100%;
            width: 100%;
            @include flexFullCenter;
        }
    }
    &__header {
        width: 100%;
        @include flexBetweenCentered;
        svg {
            font-size: 30px;
            color: $primary-color;
            cursor: pointer;
            &:hover {
                color: $tertiary-color;
                transform: scale(1.05);
            }
        }
    }
}
